.about-container {
  width: 98%;
  margin-left: 15px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px;
}

.about-left, .about-right {
  display: grid;
  grid-template-rows: auto 1fr; /* Two rows, the second row takes the remaining space */
}


.about-img {
  width: 100%;
  height: 43vh;
  background-color: orange;
  background-position: center;
}

.img1{
  background-image: url('/public/img/young-baby-on-the-ground.jpg');
  background-size: cover;
  margin-bottom: 15px;
}

.img2{
  background-image: url('/public/img/happy-man.jpg');
  background-size: cover;
}

.about-p {
  grid-row: 1; /* Place the paragraph in the first row */
  margin: 0 15px;
  font-size: large;
}

.about-atag{
  align-self: end; /* Align to the bottom of the second row */
  justify-self: end; /* Align to the right (end) of the container */
}

.click-support {
  width: 220px;
  height: 50px;
  background-color: yellow;
  margin-right: 5px;
  color: blue;
  font-size: 1.4rem;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;
}
