
.MuiTableCell-root {
    background-color: blue;
    color: yellow !important;
    border-bottom: yellow;
  }

.status-div{
    background-color: yellow;
    color: blue;
    margin: 0 auto;
    text-align: center;
}
