.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.canvas-container-app{
  width: 100%;
  height: 90%;
}

.MuiDrawer-paper {
  margin-top:75px;
  background-color: blue !important;
  color:yellow !important;
}

.drawer-contents{
  padding-left: 15px;
  padding-right: 15px;
  line-height: 0.3rem;
  text-align: left;
  background-color: blue;
  height: 91%;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 35px;
  font-weight: 100;
  line-height: 1;
  color: yellow;
}

.close-button::before {
  content: "\00d7"; /* This is the multiplication sign '×' */
}
