.arrivals-s-textbox-m{
display: flex;
flex-direction: column;
}
    

.x:after{
    content: "\00d7";

}

.arrivals-s-infos{
    display: flex;
}

.arrivals-s-textbox-s{
    display: flex;
    flex-direction: column;
}